.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: #C6C2F3;
  padding: 40px;
  border-radius: 12px;
  width: 90%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal input,
.modal select {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: #5F5A99;
  color: #FFFFFF;
  text-align: center;
  text-align-last: center;
  -moz-text-align-last: center;
}


.modal input::placeholder {
  color: #FFFFFF;
  opacity: 1;
}

.actions {
  display: flex;
  justify-content:space-around;
  margin-top: 10px;
}

.error {
  color: #ff4d4f;
  font-size: 14px;
}