.category {
  margin-top: 1rem;
  border-top: 1px solid rgba(255,255,255,0.5);
  padding-top: 1rem;
  text-align: left;
}

.title_price {
  font-size: 24px;
  margin-bottom: 0.5rem;
}

@media (max-width:800px) {
  .title_price {
    font-size: 20px;
  }
}

@media (max-width:600px) {
  .title_price {
    font-size: 14px;
  }
}