* {
    margin: 0;
    padding: 0;
}

.Discription {
    @media screen and (max-width: 767px) {
        min-height: 70vh;;
    }
    @media screen and (min-width: 768px) {
        min-height: 100vh; 
    }
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex: 1;
    
    @media screen and (max-width: 768px) {
        margin: 0 20px;
    }
    @media screen and (min-width: 768px) {
        margin: 0 90px;
    }
}

.firstBlock {
    display: flex;
    flex-direction: column;
}

.secondBlock {
    display: flex;
    flex-direction: column;
}

.title {
    font-weight: 500;
    line-height: 100%;
    margin-bottom: 30px;
    
    @media screen and (max-width: 767px) {
        font-size: 22px;
    }
    @media screen and (min-width: 768px) {
        font-size: 28px;
    }
    @media screen and (min-width: 1024px) {
        max-width: 900px;
        font-size: 34px;
    }
}

.text {
    font-weight: 500;
    line-height: 110%;
    
    @media screen and (max-width: 319px) {
        
    }
    @media screen and (min-width: 320px) {
        font-size: 18px;
    }
    
    @media screen and (min-width: 1024px) {
        margin-bottom: 20px;
        max-width: 900px;
        font-size: 28px;
    }
}

.wantButton, .sendButton {
    align-self: flex-start;
    border-radius: 60px;
    background-color: #6961BE;
    color: #ffffff;
    border: none;
    
    @media screen and (max-width: 319px) {
        width: 150px;
        padding: 10px 0;
        font-size: 16px;
        margin-top: 20px;
    }
    @media screen and (min-width: 320px) {
        width: 150px;
        padding: 10px 0;
        font-size: 18px;
        margin-top: 20px;
    }
    @media screen and (min-width: 1024px) {
        padding: 15px 0;
        font-size: 24px;
        width: 200px; 
        margin-top: 0;
    }
}

.giftLogo {
    position: absolute;
    transform: rotate(15deg);
    
    @media screen and (min-width: 320px) {
        margin-top: 150px;
        height: 150px;
        right: -70px;
    }
    @media screen and (min-width: 500px) {
        margin-top: 120px;
        height: 170px;
        right: -50px;
    }
    @media screen and (min-width: 768px) {
        margin-top: 90px;
        height: 200px;
        right: -50px;
    }
    @media screen and (min-width: 1024px) {
        margin-top: 40px;
        right: -80px;
        height: 350px;  
    }
}
