* {
    margin: 0;
    padding: 0;
}

.Registration {
    width: 100%;
    min-height: 100vh;

    background: radial-gradient(
        circle at 50% 60%,
        #9B8FFF 0%,
        #4C42C7 40%,
        #110E3C 80%,
        #0D0A2A 100%
    );
    // background-image: url('../../assets/bg-registration.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {
    width: 130px;
    height: 60px;
    margin: 30px 0px 20px;
}

.form {
    display: flex;
    flex-direction: column;
    background-color: #00000099;
    opacity: 0.9;
    gap: 10px;
    border-radius: 20px;
    // border: #6D6D6D 2px solid;
    
    @media screen and (max-width: 319px) {
        padding: 20px;
        max-width: 270px;
    }
    @media screen and (min-width: 320px) {
        padding: 20px;
        max-width: 300px;
    }
    @media screen and (min-width: 414px) {
        padding: 20px 40px;
        max-width: 350px;
    }
    @media screen and (min-width: 470px) {
        max-width: 400px;   
    }
}

.title {
    color: #ffffff;
    font-weight: 400;
    line-height: 100%;
    text-align: center;
    
    @media screen and (max-width: 413px) {
        font-size: 20px;
    }
    @media screen and (min-width: 414px) {
        font-size: 24px;    
    }
}

.consentCheckbox {
    display: flex;
    gap: 0;
}

.checkBox {
    appearance: none;
    width: 15px;
    height: 15px;
    border: 2px solid #6D6D6D;
    border-radius: 4px;
    background-color: #303030;
    cursor: pointer;
    flex-shrink: 0;
    position: relative;
    margin-right: 6px;

    &:checked {
        background-color: #522660;
        border-color: #522660;

    &::after {
        content: '';
        position: absolute;
        left: 3px;
        top: 0;
        width: 5px;
        height: 9px;
        border: solid white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }
  }
}

.labelAgreement {
    color: #8D8D8D;
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    cursor: pointer;
    text-align: left;
    user-select: none;
}

.inlineLink {
    color: #8D8D8D;
    text-decoration: none;
    cursor: pointer;

    &:link,
    &:visited,
    &:hover,
    &:active {
        color: #8D8D8D;
        text-decoration: none;
    }

    &:hover {
        text-decoration: underline;
    }
}

.registerButton {
    background-color: #522660;
    color: #ffffff;
    border-radius: 60px;
    font-weight: 500;
    line-height: 100%;
    padding: 10px 20px;
    
    @media screen and (max-width: 319px) {
        font-size: 14px;
        margin: 0px 20px;
    }
    @media screen and (min-width: 320px) {
        font-size: 18px;
        margin: 0px 20px;
    }
    @media screen and (min-width: 470px) {
        font-size: 20px;
        margin: 0px 40px;
    }
}

.text {
    color: #522660;
    font-weight: 500;
    line-height: 100%;
    margin: 30px 0px 60px;
    cursor: pointer;
    
    @media screen and (max-width: 413px) {
        font-size: 20px;
    }
    @media screen and (min-width: 414px) {
        font-size: 24px;   
    }
}

.errorMessage {
    color: #ff6b6b;
    font-size: 12px;
    margin-top: 4px;
    margin-left: 15px;
    text-align: left;
}
