.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("../../assets/bg.jpg");
  background-size: cover;
}

.card {
  background: #9891DF;
  border-radius: 20px;
  padding: 2rem;
  width: 80%;
  text-align: center;
  color: #fff;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  margin: 5rem 0;
}

.deleteButton{
  margin-left: 10%;
}

@media (max-width: 365px) {
  .deleteButton{
    margin-top: 10%;
    margin-left: 5%;
  }
}

