* {
    margin: 0;
    padding: 0;
}

.Header {
    background-color: #110E3C;
    width: 100%;
    color: #fff;
    font-family: "Ubuntu", sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    @media screen and (min-width: 768px) {
        font-size: 16px;
        justify-content: space-evenly;
    }
    @media screen and (min-width: 1024px) {
        padding: 10px 60px;
        font-size: 18px;
    }
    @media screen and (min-width: 1440px) {
        font-size: 20px;
    }
}

.logo {
    height: 50px;

    @media screen and (max-width: 767px) {
        margin: 5px 20px;
    }
    @media screen and (min-width: 768px) {
        margin-left: -10px;
    }
}

.linkHeader,
.searchBlock,
.profileBlock,
.userBlock {
    display: flex;
    flex-direction: row;
    gap: 10px;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .container {
        justify-content: space-between;

        .linkHeader,
        .searchBlock,
        .profileBlock,
        .userBlock {
            display: none;
        }
    }
}


.menu {
    display: none;
    color: #ffffff;

    @media screen and (max-width: 767px) {
        display: inline;
        font-size: 36px;
        cursor: pointer;
        margin: 0px 10px;
    }
}

