* {
    margin: 0;
    padding: 0;
}

.HowWorks {
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 90px;
}

.mainTitle {
    font-weight: 400;
    line-height: 100%;
    margin-bottom: 30px;
    
    @media screen and (min-width: 320px) {
        font-size: 22px;
    }
    @media screen and (min-width: 768px) {
        font-size: 34px;
    }
    @media screen and (min-width: 1024px) {
        font-size: 36px;
    }
}

.imagesBlock {
    display: flex;
    justify-content: center;
    gap: 45px;

    @media screen and (max-width: 1023px) {
        flex-direction: column;
    }
    @media screen and (min-width: 1024px) {
        flex-direction: row;
    }
}


.step {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
    align-items: center;
}

.stepImage1, .stepImage2, .stepImage3 {
    width: 230px;
    height: 240px;
    border-radius: 20px;
}

.arrowWrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    
    @media screen and (min-width: 1024px) {
        height: 250px;
    }
}

.arrow {
    color: #ffffff;

    @media screen and (max-width: 1023px) {
        transform: rotate(90deg);
        width: 50px;
        height: 50px;
    }
    @media screen and (min-width: 1024px) {
        transform: rotate(0deg);
        width: 50px;
        height: 50px;
    }
}

.stepImage img {
    height: 100%;
}

.stepText {
    margin-top: 20px;
}

.stepTitle {
    font-weight: 400;
    font-style: Regular;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-top: 50px;
}

.title {
    font-weight: 500;
    font-style: Medium;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-top: 20px;
}

.text {
    white-space: pre-line;
    font-weight: 300;
    font-style: Light;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-top: 10px;
}