* {
    margin: 0;
    padding: 0;
}

.Footer {
    background-color: #110E3C;
    width: 100%;
    color: #fff;
    font-family: "Ubuntu", sans-serif;
}

.container {
    display: flex;
    
    @media screen and (max-width: 767px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    @media screen and (min-width: 768px) {
        gap: 60px;
        flex-direction: row;
        text-align: left; 
    }
}

.describe {
    display: flex;
    flex-direction: column;
    
    @media screen and (max-width: 767px) {
        align-items: center;
        margin-top: 10px;
    }
    @media screen and (min-width: 768px) { 
        margin: 20px 0px 20px 90px;
        min-width: 0px;
        max-width: 150px;
    }
    margin: 20px 0 20px 85px;
    min-width: 0;
    max-width: 150px;
}

.logo {
    height: 50px;
    width: 120px;
}

.text {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #8D8D8D;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: anywhere;
}

.navigate {
    display: flex;
    flex-direction: column;
    margin: 20px 0 10px;
    gap: 7px;
}

.linkHeader {
    font-family: Rubik, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    cursor: pointer;
}


