* {
    margin: 0;
    padding: 0;
}

.Footer {
    background-color: #110E3C;
    width: 100%;
    color: #fff;
    font-family: "Ubuntu", sans-serif;
}

.container {
    display: flex;
    
    @media screen and (max-width: 767px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    @media screen and (min-width: 768px) {
        gap: 60px;
        flex-direction: row;
        text-align: left; 
    }
}

.describe {
    display: flex;
    flex-direction: column;
    
    @media screen and (max-width: 767px) {
        align-items: center;
        margin-top: 10px;
    }
    @media screen and (min-width: 768px) { 
        margin: 20px 0 20px 90px;
        min-width: 0;
        max-width: 150px;
    }
    min-width: 0;
    max-width: 150px;
}

.logo {
    height: 50px;
    width: 120px;
}


.inlineLink {
    color: #8D8D8D;
    text-decoration: none;
    cursor: pointer;

    &:link,
    &:visited,
    &:hover,
    &:active {
        color: #8D8D8D;
        text-decoration: none;
    }

    &:hover {
        text-decoration: underline;
    }
}

.navigate {
    display: flex;
    flex-direction: column;
    margin: 20px 0 10px;
    gap: 7px;
}

.linkHeader {
    font-family: Rubik, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    cursor: pointer;
}

.userBlock {
    display: flex;
    flex-direction: row;
    gap: 7px;
}


