.button {
  border: none;
  color: white;
  font-size: 20px;
  padding: 1rem 2rem;
  // margin-left: 7rem;
  border-radius: 30px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.primary {
  background-color: #1f103a;
  color: #fff;
}

.primary:hover {
  background-color: #4b2bc1;
}

.secondary {
  background-color: #f3f3f3;
  color: #333;
}

.secondary:hover {
  background-color: #e1e1e1;
}

.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
